body {
	width: 90%;
	margin: 15px auto;
}
section {
	min-height: 50vh;
}
button {
	padding: 20px;
	background-color: #e8ffea;
	color: black;
	display: block;
	outline: none;
}
.nav-wrapper {   
	border-bottom: 1px solid #ffffff;   
	width: 100%; 
}
.nav-main {
	display: none;
	width: 0;

}
.nav-main li {   
	border-bottom: 1px solid #84c980; 
}
.nav-main li:active,
.nav-main li:visited {
	background-color: #84c980;
}
.nav-main li a {   
	padding: 25px;   
	display: block; 
	font-size: 1.5rem;
	text-decoration: none;
	color: #000000;
}
.nav-main li a:visited {
	color: #07380d;
}
.nav-main li a:active {
	color: #ffffff;
	background-color: #84c980;
}
.hamburger {
	color: #f76789;
	font-size: 2rem;
}
.is-mobile {
	display: block;
}
.is-current {
	backgorund-color: hsla(174, 68%, 50% 1);
}
.sign-up {
	background-color: hsla(34, 26%, 50% 1);
	width: 50%;
	margin: 0 auto;
}

//tablet
@media screen and (min-width: 480px) {
	.is-mobile {
		display: none;
	}
	body {
		background-color: transparent;
	}
	.nav-main {
		display: block;
	} 
	.nav-main ul {
		border-bottom: 1px solid #84c980;
	}
	.nav-main li {
		display: inline-block;
		border-bottom: none;

	}



}